* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
  }

  body {
      background-color: rgb(20, 21, 25);
  }

  .container {
    padding-top: 10px;
    width: 450px;
    height: 420px;
    position: absolute;
    top: 20%;
    left: 36%;
    border-radius: 30px;
    background-color: rgb(33, 40, 50);
}

.container img {
    position: absolute;
    left: 30%;
    top: 10%;
}

.container button {
    color: rgb(247, 122, 29);
    background:rgb(50, 56, 64);
    position: absolute;
    top: 42%;
    left: 28%;
    width: 200px;
    height: 35px;
    border-radius: 20px;
    font: normal 12pt Arial;
}

.container h1 {
    color: white;
    font:normal 22pt Oswald;
    position: absolute;
    top: 54%;
    left: 37%;
}
.container p {
    color: white;
    text-align: center;
    position: absolute;
    top: 70%;
    left: 8%;
    font: normal 13pt Arial;
    color: rgb(140, 147, 157);
}