* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
  }

  body {
      background-color: rgb(20, 21, 25);
  }

  .container {
      padding-top: 10px;
      width: 450px;
      height: 420px;
      position: absolute;
      top: 20%;
      left: 36%;
      border-radius: 30px;
      background-color: rgb(33, 40, 50);
  }

  .estrela {
      position: relative;
      left: 60%;
      transform: translate(-80%, 105%);
  }

  .caixa {
      margin-top: 20px;
      background-color: rgb(46, 52, 59);
      width: 50px;
      height: 50px;
      position:absolute;
      transform: translate(100%, 10%);
      border-radius: 50%;
  }

  .caixa2 {
      color: white;
      position: absolute;
      transform: translate(14%, 100%);
  }

  .caixa2 h1 {
      font: 22pt Arial;
      font-weight: bold;
  }

  .caixa2 p {
      margin-top: 10px;
      font: 12pt Arial;
      color: rgb(118, 125, 135);
  }

  .caixa3 {
      position: absolute;
      transform: translate(8%, 280%)
  }

  .caixa3 .botao {
      margin: 10px;
      width: 55px;
      height: 55px;
      border-radius: 50%;
      cursor: pointer;
      background-color: rgb(38, 47, 56);
      cursor: pointer;
      color: rgb(120, 129, 138);
  }

  .caixa3 button span{
    font: 15pt Arial;
  
}

.avancar {
    margin-top: 10px;
    position: absolute;
    transform: translate(12%, 600%);
    width: 360px;
    height: 50px;
    border-radius: 30px;
    background-color: rgb(252, 118, 19);
    cursor: pointer;
    color: rgb(255, 255, 255);
}

.avancar span{
    font: 13pt Arial;
    font-weight: bold;
}




